.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #950101;
  margin-left: 15%;
  margin-right: 15%;
  /* min-width: fit-content; */
  margin-bottom: 15px;
  border-radius: 25px;
}

.flex-container .content-left {
  flex: 1 1 70%;
  padding-right: 10%;
}

.flex-container .content-right {
  flex: 1 1 10%;
}

.flex-container .content-left h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #fff;
  margin-left: 35px;
  margin-top: 15px;
}

.flex-container .content-left p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  margin-left: 35px;
  margin-top: 10px;
  justify-content: center;
}

.flex-container img {
  padding: 15px;
  width: 300px;
}

@media (max-width: 980px) {
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 95%;
  }
  .flex-container .content-left h2 {
    font-size: 4em;
  }

  .flex-container .content-left p {
    font-size: 2.5em;
  }

  .flex-container img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
}
