.flex-container-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  background-color: #950101;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  border-radius: 25px;
}

/* .flex-container-two > * {
  flex-basis: 100%;
} */

.flex-container-two .content-left {
  flex: 1 1 50%;
}

.flex-container-two .content-middle {
  flex: 1 1 5%;
}

.flex-container-two .content-right {
  flex: 1 1 7%;
  margin-left: 0;
  margin-right: 10px;
}

.flex-container-two .content-left h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #fff;
  margin-left: 35px;
  margin-top: 15px;
}

.flex-container-two .content-left p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  margin-left: 35px;
  margin-top: 10px;
  justify-content: center;
}

.flex-container-two img {
  padding: 15px;
  height: 300px;
  width: 250px;
}

@media (max-width: 980px) {
  .flex-container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .flex-container-two img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
  .flex-container-two .content-left h2 {
    font-size: 1.5rem;
  }
  .flex-container-two .content-left p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .flex-container-two .content-left p {
    margin-right: 8%;
  }
}

#google {
  font-size: 1rem;
  font-weight: 300;
}
